@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}
@custom-variant dark (&:where(.dark, .dark *)); /* Tailwind Dark Mode Variant if not written then dark:bg-red-500 work according to system theme not toggle button */

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-poppins: var(--font-geist-poppins);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #171717;
    }
}
.dark {
    --background: #0a0a0a;
    --foreground: #ededed;
}
body {
    background: var(--background);
    color: var(--foreground);
    font-family: poppins, sans-serif;
}

